.MyKnowledge__language-icon {
    display: block;
    margin: 0 auto;
    width: 8rem;
}

figure {
    margin-bottom: 2em;
}

figcaption {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 2em;
}

@media screen and (max-width: 600px) {
    .MyKnowledge__language-icon {
        width: 4rem;
    }
}
