.title, .title-sub-title {
    color: white;
    text-align: center;
    flex-basis: 100%;
}

.title-sub-title {
    font-size: 1.6rem;
    text-align: center;
    text-align: center;
    padding-bottom: 1em;
}

.divisor, .half-divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.half-divisor {
    width: 40%;
}

.divisor__line {
    margin: 0;
    flex: 1;
    transform: scaleX(350%);
    border: none;
    border-top: dashed white 4px;
}

.divisor__circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 100%;
}