.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    flex-wrap: wrap;
}

.contact  {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    place-items: center;
    height: 13rem;
}

.link__img {
    width: 7.5rem;
}

.link {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    padding-bottom: .5em;
    padding-top: 2em;
    border-bottom: solid .2em #CCCCCC;

    transition: color .2s;
}