.footer {
    background-image: url(../../assets/images/header-bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	background-color: #2a2a2f;
    color: white;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 1.2rem;
    position: relative;
    margin-top: 2rem;
}

.footer__effect {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: .4;
}

.footer__effect--primary {
    width: 25%;
    background-color: #98353C;
}

.footer__effect--secondary {
    width: 30%;
    background-color: #7E353C;
}

.footer__effect--tertiary {
    width: 35%;
    background-color: #652A30;
}

.footer__effect--left-3 {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.footer__effect--left-2 {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.footer__effect--left-1 {
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

/* ----------------------------------------------------------------------- */

.footer__effect--right-1, .footer__effect--right-2, .footer__effect--right-3 {
    right: 0;
}

.footer__effect--right-1 {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

.footer__effect--right-2 {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.footer__effect--right-3 {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 500px) {
    .footer__effect--primary {
        width: 15%;
    }
    
    .footer__effect--secondary {
        width: 20%;
    }
    
    .footer__effect--tertiary {
        width: 25%;
    }
}